* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background: white;
  text-align: center;
  margin: 7.7em 1em 2em 1em;
  border-radius: 10px;
}

.container .mobile-img-container {
  position: relative;
}

.container .mobile-img-container .mobile-pattern-svg {
  margin-left: -15em;
  position: absolute;
}

.container .mobile-img-container .mobile-woman-svg {
  margin-top: -6.7em;
}

.container .desktop-img-container {
  display: none;
}

.container .accordion-card {
  margin: 0 0.5em 1em 0.5em;
  padding: 0 1em 2em 1em;
  text-align: justify;
}

.container .accordion-card .FAQ {
  font-size: 2em;
  font-weight: 700;
  margin: 1.5em 1em 1em 1em;
  text-align: center;
}

.container .accordion-card .accordion-item {
  list-style-type: none;
  border-bottom: 1px solid #e7e7e9;
}

.container .accordion-card .accordion-item a {
  display: block;
  text-decoration: none;
  padding: 1em 0;
  font-size: 12px;
  font-weight: 400;
  color: #4a4b5e;
}

.container .accordion-card .accordion-item a::after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
}

.container .accordion-card .accordion-item a:active,
.container .accordion-card .accordion-item :hover {
  font-weight: 700;
}

.container .accordion-card .accordion-item a:visited {
  color: #4a4b5e;
}

.container .accordion-card .accordion-item .accordion-item-desc {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.container .accordion-card .accordion-item .accordion-item-desc p {
  color: #787887;
  padding: 1em 1.5em;
  font-size: 12px;
  font-weight: 400;
}

.container .accordion-card .accordion-item:target .accordion-item-desc {
  max-height: 10em;
}

@media only screen and (min-width: 1200px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    margin-top: 1em;
    border-radius: 25px;
    height: 50vh;
    -webkit-box-shadow: 0 20px 30px -15px;
            box-shadow: 0 20px 30px -15px;
  }
  .container .mobile-img-container {
    display: none;
  }
  .container .desktop-img-container {
    height: inherit;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    position: relative;
  }
  .container .desktop-img-container .box-img {
    position: absolute;
  }
  .container .desktop-img-container .box-img .desktop-box-svg {
    position: fixed;
    width: 13rem;
    margin-top: 12rem;
    margin-left: -6rem;
  }
  .container .desktop-img-container .desktop-woman-svg {
    width: 28rem;
    margin-top: 5rem;
    margin-left: -9rem;
    margin-bottom: -20rem;
  }
  .container .desktop-img-container .desktop-pattern-svg {
    width: 60rem;
    margin-top: -25rem;
    margin-left: -42rem;
  }
  .container .accordion-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container .accordion-card .FAQ {
    text-align: justify;
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */