$bgGradient1: #af67e9;
$bgGradient2: #6565e7;
$divider: #e7e7e9;
$accordionItems: #4a4b5e;
$accordionDescription: #787887;

$textSize: 12px;
$bold: 700;
$regular: 400;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient($bgGradient1, $bgGradient2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  text-align: center;
  margin: 7.7em 1em 2em 1em;
  border-radius: 10px;
  width: 80%;

  .mobile-img-container {
    position: relative;

    .mobile-pattern-svg {
      margin-left: -15em;
      position: absolute;
    }
    .mobile-woman-svg {
      margin-top: -6.7em;
    }
  }

  .desktop-img-container {
    display: none;
  }

  .accordion-container {
    .FAQ {
      font-size: 2em;
      font-weight: $bold;
      margin: 1.5em 1em 1em 1em;
      text-align: center;
    }

    .accordion-card {
      margin: 0 0.5em 1em 0.5em;
      padding: 0 1em 2em 1em;
      text-align: justify;

      .accordion-item {
        list-style-type: none;
        border-bottom: 1px solid $divider;

        a {
          display: block;
          text-decoration: none;
          padding: 1em 0;
          font-size: $textSize;
          font-weight: $regular;
          color: $accordionItems;
        }
        a::after {
          content: url(/images/icon-arrow-down.svg);
          float: right;
        }
        a:active,
        :hover {
          font-weight: $bold;
        }
        a:visited {
          color: $accordionItems;
        }

        .accordion-item-desc {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s;

          p {
            color: $accordionDescription;
            padding: 1em 1.5em;
            font-size: $textSize;
            font-weight: $regular;
          }
        }
      }

      .accordion-item:target .accordion-item-desc {
        max-height: 10em;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 1rem;
    border-radius: 25px;
    height: 50vh;
    box-shadow: 0 20px 30px -15px;

    .mobile-img-container {
      display: none;
    }

    .desktop-img-container {
      height: inherit;
      display: block;
      flex: 1;
      overflow: hidden;
      position: relative;

      .box-img {
        position: absolute;

        .desktop-box-svg {
          position: fixed;
          width: 13rem;
          margin-top: 12rem;
          margin-left: -6rem;
        }
      }
      .desktop-woman-svg {
        width: 28rem;
        margin-top: 5rem;
        margin-left: -9rem;
        margin-bottom: -20rem;
      }
      .desktop-pattern-svg {
        width: 60rem;
        margin-top: -25rem;
        margin-left: -42rem;
      }
    }

    .accordion-container {
      flex: 1;

      .FAQ {
        text-align: justify;
        margin-left: 1.5rem;
      }
    }
  }
}
