$bgGradient1: #af67e9;
$bgGradient2: #6565e7;
$divider: #e7e7e9;
$accordionItems: #4a4b5e;
$accordionDescription: #787887;

$textSize: 12px;
$bold: 700;
$regular: 400;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient($bgGradient1, $bgGradient2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;

  text-align: center;
  margin: 7.7em 1em 2em 1em;
  border-radius: 10px;

  .img-container {
    position: relative;

    .pattern-mobile-svg {
      margin-left: -15em;
      position: absolute;
    }
    .woman-mobile-svg {
      margin-top: -6.7em;
    }
  }

  .accordion-card {
    margin: 0 0.5em 1em 0.5em;
    padding: 0 1em 2em 1em;
    text-align: justify;

    .FAQ {
      font-size: 2em;
      font-weight: $bold;
      margin: 1.5em 1em 1em 1em;
      text-align: center;
    }
    .accordion-item {
      list-style-type: none;
      border-bottom: 1px solid $divider;

      a {
        display: block;

        text-decoration: none;
        padding: 1em 0;
        font-size: $textSize;
        font-weight: $regular;
        color: $accordionItems;
      }
      a::after {
        content: url(/images/icon-arrow-down.svg);
        float: right;
      }
      a:active,
      :hover {
        font-weight: $bold;
      }
      a:visited {
        color: $accordionItems;
      }

      .accordion-item-desc {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;

        p {
          color: $accordionDescription;
          padding: 1em 1.5em;
          font-size: $textSize;
          font-weight: $regular;
        }
      }
    }

    .accordion-item:target .accordion-item-desc {
      max-height: 10em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 1em;
    border-radius: 25px;

    .img-container {
      flex: 1;
      .woman-mobile-svg {
        display: none;
      }
      .pattern-mobile-svg {
        display: none;
      }
    }
    .accordion-card {
      flex: 1;

      .FAQ {
        text-align: justify;
        margin-left: 0;
      }
    }
  }
}
